@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Nunito:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #D28080 0%, rgba(42, 202, 173, 0.54) 100%);
}

.pagina{
    position: relative;
    margin: auto;
    height: 100vh;
    width: 100vw;
    max-width: 1980px;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cabecalho h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + 6vmin);
    color: #FFFFFF;

}

.cabecalho h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(10px + 2vmin);
    color: #FFFFFF;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container-calc{
    display: flex;
    flex-direction: column;
    height: 75vmin;
    width: 130vmin;
    background: #00000027;
    border-radius: 70px;
}

.linha1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container-temp1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: calc(15px + 4vmin);
    text-align: center;
    color: #FFFFFF;
}

.select-box {
    display: flex;
    width: 35vmin;
    flex-direction: column;
}
  
  .select-box .options-container {
    background: #00000034;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected {
    background: #00000034;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
  
    border: 0;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0a0a0b2e;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #00000034;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }