@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Nunito:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #D28080 0%, rgba(42, 202, 173, 0.54) 100%);
}

.pagina{
    position: relative;
    margin: auto;
    height: 100vh;
    width: 100vw;
    max-width: 1980px;
}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cabecalho h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + 6vmin);
    color: #FFFFFF;
}

.cabecalho h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(10px + 2vmin);
    color: #FFFFFF;
}

.conteudo{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container-calc{
    display: flex;
    flex-direction: column;
    height: 65vmin;
    width: 125vmin;
    background: #00000027;
    border-radius: 70px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.linha1{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.temp1-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp1-box h3{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(15px + 4vmin);
    color: #FFFFFF;
}

.temp2-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp2-box h3{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(15px + 4vmin);
    color: #FFFFFF;
}

#temp{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
}

#temp1{
    display: block;
    height: 8vmin;
    width: 20vmin;
    border-radius: 10px;
    border: none;
    background: #0000001b;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(10px + 1.5vmin);
    color: #FFFFFF;
}

#temp1 option{
    background: #1e1c1c63;
    border: none!important;
    display: block;
    align-items: center;
}

#temp2{
    display: block;
    height: 8vmin;
    width: 20vmin;
    border-radius: 10px;
    border: none;
    background: #0000001b;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(10px + 1.5vmin);
    color: #FFFFFF;
}


.linha2{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.linha2 h4{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(12px + 3vmin);
    color: #FFFFFF;
}

#temperatura{
    display: block;
    height: 6vmin;
    width: 10vmin;
    border-radius: 10px;
    border: none;
    background: #0000001b;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(10px + 1.5vmin);
    color: #FFFFFF;
    text-align: center;
    appearance: none;
}

.linha3{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.botao{
    display: block;
    height: 6vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    background: #0000001b;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(10px + 1.5vmin);
    color: #FFFFFF;
    text-align: center;
    appearance: none;
}

#resposta{
    display: block;
    height: 6vmin;
    width: 38vmin;
    border-radius: 10px;
    border: none;
    background: #0000001b;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(10px + 1.5vmin);
    color: #ffffff;
    text-align: center;
    appearance: none;
}